
#op1, #op2{
    
    width: 150px;
    height: 150px;
    background-color: buttonface;
    border-radius: 20px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
